{
  "all": true,
  "instrument": false,
  "sourceMap": false,
  "check-coverage": true,
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80,
  "include": [
    "src/**/*.{ts,vue}"
  ],
  "exclude": [
    "tests/**/*.spec.{ts}"
  ],
  "reporter": [
    "text-summary",
    "json"
  ],
  "extension": [
    ".ts",
    ".vue"
  ]
}
