@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "/node_modules/bootstrap/scss/badge";

// Useful mixins
@mixin wh-100() {
  width: 100%;
  height: 100%;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

// Global changes
.btn {
  @extend .btn-light;
}

body {
  @extend .user-select-none;
}

// main
.app-container {
  height: 100%;
  @include flex-column();
}

header,
footer {
  @extend .px-2, .py-1, .bg-light;
}

header {
  @include flex-row();
  align-items: center;
  justify-content: flex-start;
}

main {
  @include wh-100();
  @include flex-column();
  align-items: center;

  & .loader {
    @include wh-100();
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .nav-container {
    @include flex-column();
    align-items: center;

    & nav {
      justify-content: center;
    }
  }

  & .main-container {
    width: 100%;
    @include flex-row();
    max-width: 1920px;
  }

  & .env-container {
    @include flex-column();
  }

  & .controls {
    @include flex-column();
  }
}

footer {
  @include flex-row();
  justify-content: flex-end;
}

// remove overflow from flexbox
.scrollable {
  overflow-y: auto;
}

// Badge
.badge {
  @extend .p-1;
}

// Tabs
main .nav {
  margin-top: calc(-2.5rem + 2px);

  @extend .pt-1;
  & .nav-item .nav-link {
    @extend .py-1, .px-2, .mx-1;
  }
}

// tippy changes
$tippy-bg-color: $light;
$tippy-border-color: $dark;

.tippy-box[data-theme~="light"] {
  .tippy-arrow:before {
    background-color: $tippy-bg-color;
  }

  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: $tippy-border-color;
  }

  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: $tippy-border-color;
  }

  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: $tippy-border-color;
  }

  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: $tippy-border-color;
  }
}

@mixin tippy-box-main {
  border-radius: calc(0.25rem - 1px);
  background-color: $light;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 40px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
}

.tippy-box[data-theme~="light"] {
  @include tippy-box-main();
  @extend .card, .bg-transparent;
}

.tippy-content {
  @include tippy-box-main();
  @extend .m-0, .p-0;

  & .card-header {
    @extend .px-3, .py-2;

    & > * {
      @extend .mb-1;
      &:last-child {
        @extend .mb-0;
      }
    }

    & .flavor {
      @extend .text-end, .text-muted, .fst-italic;
    }
  }

  & ul.ingredients-list {
    @extend .list-group, .list-group-flush;

    & > li {
      @extend .clearfix, .list-group-item, .py-1;

      & > .ingredient-label {
        @extend .float-start;
      }

      & > .ingredient-fulfillment {
        @extend .float-end;
      }

      &.unfulfilled > .ingredient-fulfillment {
        @extend .text-danger;
      }
    }
  }

  & ul.effects-list {
    @extend .list-group, .list-group-flush;

    & > li {
      @extend .list-group-item, .py-1;
    }
  }
}

.number {
  @extend .font-monospace;
}

// resources
ul.resources-list {
  @extend .list-group, .list-group-flush;

  & > li {
    @extend .p-1, .small, .list-group-item;

    & .resource-modifier {
      @extend .ms-1, .badge, .number;
    }
  }
}

// controls
.btn .structure-level {
  &::before {
    content: "(";
  }
  &::after {
    content: ")";
  }
}

.btn.capped {
  @extend .text-danger, .text-opacity-75;
}
