// Useful mixins
@mixin wh-100() {
  @include w-100();
  @include h-100();
}

@mixin w-100() {
  width: 100%;
}

@mixin h-100() {
  height: 100%;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin list-flush() {
  @extend .list-group, .list-group-flush;
  > li {
    @extend .list-group-item;
    @include py(1);
  }
}
